
{% extends 'index/index.html' %}
{% load static %}
{% block content %}
<html>
  <head>
    <title>Video Live Stream</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="stream_page">
        <ul class="pagination">
            <li id="stream"><a >Stream</a></li>
            <li id="recognition"><a >Recognition</a></li>
        </ul>
        <div id="section-stream" class="Stream">
            <h1>Video Live Stream</h1>
            <div class="livestream">
                <img src="{% url 'stream' camera %}">    
            </div>
        </div>  
        <div id="section-recognition" class="Stream" hidden>
            <h1>Video Recognition</h1>
            <div class="detectionstream">
                <img src="{% url 'stream' camera %}">    
            </div>
            <div class="detectionsdata">
              <div class="title">
                <p>person name:</p>
              </div>
              <div id="name" class="datainfo">
                <p>name</p>
              </div>
              <div class="title">
                <p>person name:</p>
              </div>
              <div id="email" class="datainfo">
                <p>email</p>
              </div> 
              <div class="title">
                <p>person name:</p>
              </div> 
              <div id="contact" class="datainfo">
                <p>contact</p>
              </div>  
            </div>
            <div class="detectionsdata">
              <div class="title">
                <p>car owner:</p>
              </div>
              <div id="owner" class="datainfo">
                <p>owner</p>
              </div>
              <div class="title">
                <p>car number:</p>
              </div>
              <div id="number" class="datainfo">
                <p>number</p>
              </div>  
              <div class="title">
                <p>car brand:</p>
              </div>
              <div id="brand" class="datainfo">
                <p>brand</p>
              </div>  
            </div>
        </div>

      </div> 
        <div class="control-bar" >
        </div>
        
    </div>
  </body>
  <script type="text/javascript" src="{% static 'index/js/API.js' %}"></script>
  <script>
      setInterval(doTask, 10000);
  </script>
</html>
{% endblock %}
